<appSettings>
  <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
  <add key="ida:Tenant" value="[YOUR_AAD_TENANT].onmicrosoft.com" />
  <add key="ida:ClientId" value="[YOUR_CLIENT_ID]" />
  <add key="ida:ClientSecret" value="[YOUR_CLIENT_SECRET]" />
  <add key="sqldb:ResourceId" value="https://database.usgovcloudapi.net/" />
  <!-- NOTE: In the value above, if using the public cloud, replace 'usgovcloudapi' with 'windows' -->
</appSettings>