<!-- See README.md for Getting Started instructions-->
<connectionStrings>
  <!-- DO NOT make the name "BlogContext".  If you do, AadAccessTokenConnectionFactory get used -->
  <add name="BlogContextConnectionString" connectionString="Server=tcp:[YOUR_SERVER].database.usgovcloudapi.net,1433;Initial Catalog=[YOUR_DATABASE];" providerName="System.Data.SqlClient" />
  <!-- NOTE: In the value above, if using the public cloud, replace 'usgovcloudapi' with 'windows' -->
</connectionStrings>